
@media  screen and (min-width: 500px) {
    
    .navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
        border: none;
	}
	#menu {
		display: none;
	}
}
    .temples {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        align-items: center;
        width: 90%;
        margin: 0px auto;
        padding: 10px;
    }

