/* Mobile View ***************/

:root {
    font-family: sans-serif, Arial, Helvetica,;
    font-size: 16px;
    --primary-color: rgb(0 110 182 / 1); /* Global scope */
    --secondary-color: rgb(247, 248, 248); /* Global scope */
    --third-color: rgb(255, 255, 255); /* Global scope */
    --fourth-color: rgb(0, 0, 0); /* Global scope */
	font-size: 0.9rem;
	font-weight: 200;
    
}

/* Header ***************/

header {
	background-color: var(--primary-color);
	border: 1px solid rgb(0 0 0 / .2);
	padding: 0px;
}

.logo {
	height: 100px;
	margin: 0px;
	padding: 0px;
	
}

/* Nav & Burger Menu ***************/
#menu {
	display: block;
	font-size: 2rem;
	font-weight: 700;
	text-decoration: none;
	padding: 0.5rem 0.75rem;
	background-color: var(--primary-color);
	color: var(--third-color);
	text-align: center;
	border: 1px solid rgb(0 0 0 / .2);
}

#menu::before {
	content: "≡";
}

nav {
	background-color: var(--primary-color);
	border: 1px solid rgb(0 0 0 / .2);
}
.navigation {
	list-style: none;
	margin: 0 auto;
	max-width: 760px;
	padding: 0px;
	
}

.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: var(--third-color);
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
	border: 1px solid rgb(0 0 0 / .2);
}

.navigation a:hover,
.navigation a:active {
	color: var(--primary-color);
	background-color: var(--secondary-color);
}

.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}

/* Main ***************/

main {
	display: block;
	max-width: 1400px;
	margin: 0 auto;
	padding: 0px;
}

h1,h2 {
	text-align: center;
	padding: 0.5rem;
}

.hero {
	display: block;
	background-color: var(--secondary-color);
	
}

a {
    text-decoration: none;
	color: var(--fourth-color);
}

figure img {
	display: block;
  	margin: auto;
	aspect-ratio: 300 / 200;
    width: 100%;
    border-radius: 10px;
	max-width: 600px;
}

figcaption {
	text-align: center;
	margin-top: 10px;
	font-size: 1.2rem;
}

.radios{
	display: block;
}

/* Footer ***************/
    
footer {
  background-color: var(--primary-color);
  padding: 5px;
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

/* Contact - Form ***************/

.contact fieldset{
    margin: 2rem 0;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    padding: 0.5rem 2%;
}

.contact legend {
    color: #445ba9;
    padding: 0 0.5rem;
}

.contact label {
    display: block;
    padding-top: 1rem;
    font-size: .9rem;
}

.contact div {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #445ba9;
    font-size: 1rem;
}

.contact input[type="name"],
.contact input[type="text"],
.contact input[type="date"],
.contact textarea,
.contact select
{
    background-color: var(--secondary-color);
    display: block;
    border: solid 1px var(--fourth-color);
    border-radius: 6px;
    padding: .75rem;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

.contact input[type="radio"],
.contact input[type="checkbox"] {
    margin-right: 6px;
    padding: 5px;
}

.contact input[type="submit"] {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: .75rem 1.5rem;
    font-size: .9rem;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    cursor: pointer;
}

.contact input:required {
    border-bottom: solid 4px #9c2c13;
}

.contact input:required:valid {
    border-bottom: solid 4px #006f02;
}
