:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    --primary-color: rgb(1, 95, 1); /* Global scope */
    --secondary-color: rgb(202, 178, 45); /* Global scope */
    --third-color: rgb(0, 16, 189); /* Global scope */
    --fourth-color: rgb(189, 0, 0); /* Global scope */
    --fith-color: rgb(0, 0, 0); /* Global scope */
    text-align: center;
    
}

#country-name {
	text-align: center;
	background-color: var(--primary-color);
	padding: 0.5rem;
	color: rgb(255, 255, 255);
    border-bottom: 10px solid var(--fith-color) ;  
}

h1 {
	font-size: 40px;
}

main {
	margin: 0px 0px;
	padding: 0px;
	display: grid;
    border-top: 10px solid var(--secondary-color) ; 
    border-left: 10px solid var(--third-color) ; 
    border-right: 10px solid var(--fourth-color) ; 
    border-bottom: 10px solid var(--secondary-color) ;

    
}

.hero img {
  width: 100%;
  height: auto;
  border-bottom: 10px solid var(--secondary-color) ;
}
#weather-icon::before {
    content: "" / "Sunny Weather Icon";
    display: inline-block;
    vertical-align: middle;  
    width: 50px;
    height: 50px;

    background-image: url(../images/sunny.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  #weather-icon::after{
  content: "" / "Sunny Weather Icon";
    background-image: url("../images/sunny.png");
    width: 30px;
    height: 30px;
  }

dl {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

dt {
    font-weight: bold;
    text-align: right;

}

dd {
    text-align: left;
    margin: 0px;
}

footer {
  background-color: var(--primary-color);
  border-top: 10px solid var(--fith-color) ; 
  padding: 5px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
}