
@media  screen and (min-width: 500px) {
    
    .navigation {
		display: flex;
		flex-direction: row;
	}
	
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.navigation a {
        border: none;
	}
	#menu {
		display: none;
	}

    .temples {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
		justify-content: center;
		gap: 20px;

    }
	.temple-card {
		max-width: 400px;
	}
}