
body {
	font-family: Arial, sans-serif;
}

#page-title {
	text-align: center;
	background-color: rgb(0 110 182 / 1);
	border: 1px solid rgb(0 0 0 / .2);
	padding: 0.5rem;
	color: #fff;
	font-size: 2rem;
}

/* Mobile View ***************/
#menu {
	display: block;
	font-size: 2rem;
	font-weight: 700;
	text-decoration: none;
	padding: 0.5rem 0.75rem;
	background-color: #333;
	color: #fff;
	text-align: center;
	border: 1px solid rgb(0 0 0 / .2);
}

#menu::before {
	content: "≡";
}

nav {
	background-color: #333;
	border: 1px solid rgb(0 0 0 / .2);
}
.navigation {
	list-style: none;
	margin: 0 auto;
	max-width: 760px;
	padding: 0px;
	
}

.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: white;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
	border: 1px solid rgb(0 0 0 / .2);
}

.navigation a:hover,
.navigation a:active {
	color: white;
	background-color: rgb(0 110 182 / 1);
}

.navigation a {
    transition: background-color 0.3s ease;
}

.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}

main {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0.5rem;
}

h1 {
	text-align: center;
	padding: 0.5rem;
}




.temples {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        align-items: center;
        width: 90%;
        margin: 0px auto;
        padding: 10px;
    }

.temple-card {
	border: 1px solid rgb(0 0 0 / .2);
	background-color: rgb(230, 229, 229);
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	text-align: center;
	
}

.temple-card img {
	width: 100%;
	height: 250px;
	border-radius: 5px;
	margin-top: 10px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
    
footer {
  background-color: rgb(0 110 182 / 1);
  padding: 5px;
  text-align: center;
  color: white;
  font-size: 1.5rem;
}